* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  line-height: 3rem;
}
body {
  background-color: aliceblue;
}
.container {
  margin: auto;
  margin-top: 10vh;
  width: 75vw;
  max-width: 700px;
  height: 80vh;
  padding-top: 2.5rem;
  align-items: center;
  background-color: antiquewhite;
}
header {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
}
.count-container {
  margin: auto;
  width: fit-content;
  font-size: larger;
  font-weight: bold;
}
.count {
  font-size: larger;
  text-align: center;
  margin: auto;
}
.tally {
  font-size: large;
  font-weight: 900;
  letter-spacing: 1rem;
  max-width: 70%;
  min-width: 30%;
  width: fit-content;
  margin: auto;
  height: 50vh;
  overflow-y: auto;
}
button {
  border: 0.01rem solid rgb(26, 143, 79);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  background-color: rgb(20, 179, 55);
  margin: auto;
  justify-content: space-around;
  display: inline;
  box-shadow: 2px 2px 1px black;
  line-height: normal;
  outline: 0;
}
button:active {
  box-shadow: none;
  background-color: rgb(48, 77, 54);
}
.controlButtons {
  justify-content: space-between;
  display: flex;
}
